/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    margin: 0;
}

.header-right {
    display: flex;
    gap: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Product Cards Section */
.product-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #f9f9f9;
    width: 20%;
    min-height: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    /* object-position: 10px 0px; */
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h3 {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.product-card .desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.product-card .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.edit-btn, .del-btn {
    font-size: 14px;
    background-color: #f0ad4e;
    padding: 5px 10px;
}

.del-btn {
    background-color: #d9534f;
}

.edit-btn:hover {
    background-color: #ec971f;
}

.del-btn:hover {
    background-color: #c9302c;
}
.heading{
    width: 100%;
    text-align: center;
}
.norishta{
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
@media (max-width:576px) {
    .product-card {
    width: 90%;
    min-height: 200px;
    padding: 10px;
}
}